

    .a {
        position: relative;
       
        display: flex;
        margin: 100px;
        background-color: rgb(248, 244, 244);;
        box-shadow: 0px 0px 8mm ;
        border-radius: 7px;
    }
    .images {
        position: absolute;
        right: 0;
        width: 400px;
        
        border-radius: 5px;
        display: flex;
        background-color:rgb(248, 235, 235);;
        box-shadow: 0px 0px 1px rgb(46, 45, 45);
        flex-direction: column;
        
    }
    .divmain{
        display: flex; 
        flex-direction: column; 
        background-color: rgb(248, 244, 244);;
    }
    .greetings {
        position: absolute;
        width: auto;
        height: 500px;
        background-color: cyan;
    }
    .font1 {
        
        display: flex; 
        flex-direction: column ;
        align-items: center;
        margin-top: 10px;
        font-family: 'Courier New', Courier, monospace ;
        background-color: rgb(248, 235, 235);
        
        
    }
    .font2 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: smaller;
        display: flex;
        align-items: center;
        flex-direction: column; 
        background-color: rgb(248, 235, 235);;
    }
    h2 {
        font-family: cursive; 
        word-spacing: -5px; 
        text-shadow: 0px 0px 1px;
        background-color: rgb(248, 244, 244);;
    }
    div p {
        text-align: justify;  
        background-color: rgb(248, 244, 244);;
    }
    .welcome{
        margin: 10px; 
        width: 50%;
    }
    .button{
        display: flex; 
        gap: 40px; 
        background-color: rgb(248, 244, 244);; 
        margin-left: 1%;
        height: 30px;
    }
    .bcontact{
        background-color: black; 
        color: rgb(217, 217, 228); 
        padding: 6px 20px; 
        border-radius: 15px; 
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    .bcontact:hover{
        font-size: larger;
    } 
    .bdownload{
        color: black; 
        text-decoration: none;
        background-color: rgb(248, 244, 244);; 
        align-items: center;
        display: flex;
    }
    .bdownload:hover {
        font-size: larger;
    }
    .hmbgShow{
        display: none;
        flex-direction: column;
        background-color: darkslategrey;
        align-items: center;

    }
    .hmbgShow a{
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: white;
        border: 1px solid white;
        padding: 5px 0;
        background-color: cadetblue;
        
    }

    @media  screen  and (max-width: 1080px){
        .a{
            flex-direction: column;
        }
        .images {
            position:relative;
            width: auto;
        }
        .divmain{
         margin-top: 1px;
        }
        .welcome{
            width: 100%;
        }
    }
    @media  screen  and (max-width: 680px){
        .images {
            width: auto;
            
        }
        .a{
            
            margin: 50px;
        }
    }
    @media  screen  and (max-width: 500px){
        .images {
            width: 70%;
            
        }
        .a{
            
            margin: 25px;
        }
        .icon{
            letter-spacing: 4px;
            font-size: 1px;
        }
        .button{
            gap: 15px;
        }
        .welcome{
            font-size: 13px;
            margin-top: 0px;
            width: 210px;
        }
        h2{
            font-size: 17px;
        }
    }
    @media  screen  and (max-width: 500px){
        .a{
           margin-top: 60px;
        }
    }
    @media  screen  and (min-width: 499px){
        .hmbgShow{
         display: none;   
            
        }
    }

    @media  screen  and (max-width: 512px){
        .hidden{display: none;
        }
        .hide{
            display: flex;
        }
        
    }
    