.contactform {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type=text], select, textarea {
    
    padding: 12px;
    border: 0px solid #faf6f6;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 7px;
    resize: vertical;
    background-color: rgb(250, 246, 246);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
label {
    font-size: larger;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}
.label {
    display: flex; 
    flex-direction: column; 
    width: 500px; 
    height: auto;
    
}
.style1{
    background-color: black;
}
.submit{
    background-color:black;
    width: 90px; 
    float: right;
    border-radius: 12px;
    color: white;
    height: 25px;
}
.icon{
    font-size: 35px;
    letter-spacing: 10px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    height: 50px;
    margin-bottom: -15px;
}
.iconlogo{
    color: black; 
    text-decoration: none;
    background-color: rgb(248, 244, 244);
}
.iconlogo:hover {
    font-size: larger;
    color: orangered;
}

input[type=submit] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    margin-right: 40px;
    color: aliceblue;
    border-radius: 13px;
    height: 27px;
    width: 90px;
    float: right;
}
input[type=submit]:hover {
    background-color: grey;
}
.fontbio {
    height: 170px; 
    display: flex;  
    justify-content: center; 
    align-items: center;
}.fontbio2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    height: 170px; 
    display: flex;  
    justify-content: center; 
    align-items: center;
    background-color: azure;
}
@media  screen  and (max-width: 500px){
    .icon{
        letter-spacing: 5px;
        font-size: 30px;
        display: flex;
        justify-content: space-between;
        width: 110%;
    }
    .bdownload{
        font-size: small;
    }
}
@media screen and (max-width:506px){
    input[type=text], select, textarea {
        width: 80%;
    }
    .label {
        align-items: center;
        width: 330px;
    }
    

  }
  
  