/* REVEAL */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
/* FADE IN */
.fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  /* FADE UP */
@keyframes fadeUp {
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
/* FADEDOWN */
@keyframes fadeDown {
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
.navbar-brand{
    animation: fadeDown 1s;
}
.nav-link{
    animation: fadeDown 1s;
}
.text-center{
    animation: fadeDown 1s;
}
.navbarText{
    font-weight: bold;
}
.nav-link:hover{
    color: orangered !important;
}

.btn:hover{
    background-color: orangered;
    color: black;
    font-weight: bold;
    border-style: none;
    border-radius: 15px;
}
.homeNav{
    color: orangered;
}
.rounded{
    border-style: outset;
}

.hmbgShow{
    display: none;
    flex-direction: column;
    background-color: darkslategrey;
    align-items: center;

}
.hmbgShow a{
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px 0;
    background-color: grey;;
    
}
.contactMe{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn{
    animation: fadeDown 1s;
}
.contactMe:hover{
    color: black;
}
/* Inside */
.a {
    position: relative;
    margin: 100px;
    box-shadow: 0px 0px 5mm;
    border-radius: 7px;
    border-style: inset;
    border-width: 5px;
    
}
.images {
    position: absolute;
    right: 30px;
    margin-top: 30px;
    padding: 5px;
    width: 380px;
    border-style: groove;
    border-radius: 5px;
    display: flex;
    background-color: rgb(248, 235, 235);
    box-shadow: 0px 0px 1px rgb(46, 45, 45);
    flex-direction: column;
    object-fit: contain;
    
}
.welcome{
    margin: 10px; 
    width: 50%;
}
.welcomeText{
    font-size: 16px;
    animation: fadeUp 0.5s;
}
.welcomeCon{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 52px;
    font-family: 'Catamaran';
    letter-spacing: 3px;   
    font-weight: 900;  
    animation: fadeUp 0.5s;                                   
}
.button{
    display: flex; 
    gap: 40px; 
    background-color: rgb(248, 244, 244);; 
    margin-left: 1%;
    height: 30px;
    margin-bottom: -5px;
    margin-top: 40px;
}
.font1 {
    display: flex; 
    flex-direction: column ;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
    background-color: rgb(248, 235, 235);
}
.font2 {
    display: flex;
    align-items: center;
    flex-direction: column; 
    background-color: rgb(248, 235, 235);;
    margin-bottom: 7px;
    font-size: 13px;
}
.divmain{
    display: flex; 
    flex-direction: column; 
    background-color: rgb(248, 244, 244);;
  
    padding: 20px;
}
.bcontact{
    background-color: black; 
    color: rgb(217, 217, 228); 
    padding: 6px 20px; 
    border-radius: 15px; 
    text-decoration: none;
    display: flex;
    align-items: center;
    animation: fadeUp 0.5s;
}
.bcontact:hover{
    
    background-color: orangered !important;
    color: black !important;
    font-weight: bold !important;
} 
.icon{
    font-size: 35px;  
    display: flex;
    margin-top: 40px; 
    gap: 50px;
    justify-content: center;
}
.iconlogo{
    color: black; 
    text-decoration: none;
    background-color: rgb(248, 244, 244);
    animation: fadeUp 0.5s;
}
.iconlogo:hover {
    font-size: larger;
    color: orangered;
}
.bdownload{
    color: black; 
    text-decoration: none;
    background-color: rgb(248, 244, 244);; 
    align-items: center;
    display: flex;
    animation: fadeUp 0.5s;
}
.bdownload:hover {
    font-size: larger;
    color: orangered;
}

/* Next Page */
.myProject{
    margin-top: 200px;
    background-color: #222831;
    height: 1300px;
}

.grid-item {
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
  }
  .grid-container{
    display: flex;
    height: 430px;
    
}
.h1myproject {
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeUp 0,7s;
  }
.projectItemcontoh{
    box-shadow: 0px 0px 10px;
    margin: 0;
    background-color: lightgrey;
    border-radius: 10px;
    width: 290px;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    animation: fadeUp 0,7s;
}
.projectItem{
    box-shadow: 0px 0px 10px;
    margin: 0;
    background-color: lightgrey;
    border-radius: 7px;
}
.linkProject{
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 100px;
    border-color: black;
    
}

.linkProject:hover{
    color: orangered;
}
.imageProject{
    margin: 0; 
    background-color: lightgrey;
    font-size: smaller;
    padding: 7px;

}
.dateProject{
    font-size: smaller;
    color: rgb(54, 51, 51); margin-top: -5px;
    margin-left: 6px;
    margin-bottom: 10px;
    background-color: lightgrey;
}
.contentProject{
    display: flex;
    width: 93%;
    margin: 0;
    text-align: justify;
    padding: 10px;
    background-color: lightgrey;
    font-size: small
}
.iconProject{
    margin: 0;
    padding: 10px;
    color: black; 
    text-decoration: none;background-color: lightgrey;
    font-size: 28px;
    height: 0;
    margin-bottom: 40px;
    display: flex;
    gap: 15px;
}
.projectImage{
    height: 40%;
    width: 93%; 
    display: flex;
    padding: 10px;
    background-color: lightgrey;
    border-radius: 30px;
    object-fit: cover;
    animation: fadeUp 0,7s;
}
.cardProject{
    margin-top: 0px;
    width: 290px;
    background-color: white;
}

/* botton */
.btnMother{
    background-color: lightgrey;
    margin: 0;
    
    height: 30px;

}
.btnFather{
    display: flex;
    border-radius: 10px;
    width: 130px;
    gap: 5px;
    height: 100%;
    margin: 0;
    background-color: lightgrey;
}
.btn-edit{
    border-radius: 10px;
    width: 50%;
}
.btn-edit:hover{
    background-color: lightgrey;
}
.btn-delete{
    border-radius: 10px;
    width: 50%;
}
.btn-delete:hover{
    background-color: lightgrey;
}

/* // X-Small devices (portrait phones, less than 576px) */
@media screen  and (max-width: 1091px) { 
    .a{
        width: 100%;
        display: flex;
        background-color: rgb(248, 244, 244);
        align-items: center;
        margin: 0px;
        margin-top: 70px;
    }
    .images{
        position: unset;
        width: 300px;
        right: -30px;
    }
    .divmain{
        align-items: center;
        height: auto;
       
    }
    .welcomeCon{
        font-size: 40px;
        text-align: center;
    }
    .welcome{
        width: auto;
    }
    .welcomeText{
        text-align: justify;
    }
    .grid-item{
        justify-content: center;
    }
}
@media (max-width: 666px) {
    .a{
        flex-direction: column;
    }
    .images{
        width: 70%;;
    }
}


