.testitop{
    
    display: flex;
    align-items: center;
    margin-top: 40px;
    flex-direction: column;
    gap: 20px;
    
}
.fa-regular{
    background-color: rgb(33, 47, 47);
    color: white;
}
.bottonStar{
    background-color: rgb(33, 47, 47);
    color: white;
    border: 1px solid black;
    border-radius: 3px;
}
.buttonStar.pointer {
    cursor: pointer;
  }
.bottonStar:hover{
    font-size: larger;
    background-color: darkslategrey;
    .fa-regular{
        background-color: darkslategrey;
    }
}
.testiIcon{
    margin-top: 15px;
    display: flex;
    gap: 40px;
    background-color: lightgrey;
    
}
.testiGrid{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.testiCard{
    box-shadow: 0px 0px 10px;
    margin: 0;
    background-color: white;
    border-radius: 7px;
    width: 20%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testiImage{
    height: 65%;
    width: 90%;
    padding: 13px;
    background-color: white;
    border-radius: 20px;
    object-fit: cover;
}
.testiinCard{
    margin: 5px;
    background-color: white;
}
.testiText{
    background-color: white; 
    font-style: italic;
    margin-left: -40px;
    margin-bottom: 10px;
}
.testiUser{
    background-color: white;
    display: flex;
    justify-content: flex-end;
    width: 120%;
    font-weight: bolder;
    font-size: smaller;
}
@media  screen and ( max-width: 800px ){
    .testiCard{
        width: 80%;
    }
    .testiIcon{
        gap: 15px;
    }
}

@media  screen  and (max-width: 1280px ){
    .testiImage{
        width: 85%;
        
    }
    .testiText{
        font-size: smaller;
        margin-left: -30px;
    }
}
@media  screen  and (max-width: 1066px ){
    .testiText{
       font-size: smaller;
        margin-left: 0;
    }
    .testiUser{
        width: 100%;
    }
    .testiImage{
        width: 80%;
        
    }
}