 /* FADE UP */
 @keyframes fadeUp {
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

.testitop{
    
    display: flex;
    align-items: center;
    margin-top: 40px;
    flex-direction: column;
    gap: 20px;

}
.fa-regular{
    background-color: rgb(33, 47, 47);
    color: white;
}
.bottonStar{
    background-color: rgb(33, 47, 47);
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    width: 41px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.bottonStar:hover{
    
    background-color: orangered;
    color: black;
    font-weight: bold;
    .fa-regular{
        background-color: orangered;
        color: black;
        font-weight: bold;
    }
}
.testiIcon{

    gap: 20px;

    
}
.testiGrid{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-bottom: 30px;
    animation: fadeUp 2s;
}
.testiCard{
    box-shadow: 0px 0px 10px;
    margin: 0;
    background-color: white;
    border-radius: 7px;
    width: 19%;
    height: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: inset;
    border-width: 3px;

}
.testiCard:hover{
    width: 20%;
}
.testiImage{
    height: 65%;
    width: 90%;
    padding: 13px;
    background-color: white;
    border-radius: 20px;
    object-fit: cover;
}
.testiinCard{
    margin: 4px;
    background-color: white;
    width: 60%;
}
.testiText{
    background-color: white; 
    font-style: italic;
    margin-left: -40px;
    margin-bottom: 3px;
}
.testiUser{
    background-color: white;
    display: flex;
    justify-content: flex-end;
    width: 120%;
    font-weight: bolder;
    font-size: smaller;
}
.testiRating{
    background-color: white;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    justify-content: flex-end;
    width: 120%;
    font-weight: bolder;
    font-size: smaller;
}

@media  screen  and (max-width: 1280px ){
    .testiImage{
        width: 85%;
        
    }
    .testiText{
        font-size: smaller;
        margin-left: -30px;
    }
}
@media  screen  and (max-width: 1066px ){
    .testiText{
        font-size: smaller;
        margin-left: 0;
    }
    .testiUser{
        width: 100%;
    }
    .testiRating{
        width: 100%;
    }
    .testiImage{
        width: 80%;
        
    }
    .testiinCard{
        width: auto;
    }
}
@media  screen and ( max-width: 800px ){
    .testiCard{
        width: 80%;
    }
    .testiIcon{
        gap: 13px;
       
    }
    .testiinCard{
        width: 80%;
    }
    .bottonStar{
        height: 30px;
        align-items: center;
    }
    .h3, h3 {
        font-size: 15px;

    }
}
