<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="/assets/images/skills.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/index.css">
    <script src="https://kit.fontawesome.com/fa61d725ab.js" crossorigin="anonymous"></script>
    <title>My Project</title>
    
</head>
<body>
    <!-- NAV -->
<!-- logo -->
<div class="navAll">
    <nav class=" navbar navbar-expand-lg navbar-light rounded " style="background-color: #f2f2f2;">
        <a class="navbar-brand ms-4" href="/" ><img style="height: 33px;" src="/assets/images/skills.jpg" class="dumbways"></a>
<!-- Hamburger ICON -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="hamburgerClick"  >
            <span class="navbar-toggler-icon"></span>
          </button>
<!--Home  -->
        <div class="m-1 collapse navbar-collapse justify-content-between navbarText " id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link homeNav" href="/">Home </a>
            </li>
<!-- Add Project -->
            <li class="nav-item">
              <a class="nav-link" href="addProject">Add Project</a>
            </li>
<!-- Testimonials -->
            <li class="nav-item">
             <a class="nav-link " href="testimonials">Testimonials</a>
            </li>
<!-- Contact Me -->
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-dark  my-2 my-sm-0 me-3" type="submit"><a class="contactMe" href="contact">Contact Me</a></button>
          </form>
        </div>
      </nav>
    </div>     
      
<!-- Main  -->

<div class="a ">
    <!-- IMAGES -->
        <div class="images fade-in-image">
            <img  src="/assets/images/style.jpg"/>
            <h3 class="font1">ADIWIDIAWAN </h3>
            <p class="font2" >Fullstack Developer</p>
        </div>    
    <div class="divmain">
    
    <!-- WELCOME -->        
        <div class="welcome">
                <h2 class="welcomeCon">
                WELCOME TO MY WEB PROJECT
                </h2>
                
                
                <p class="welcomeText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum rerum voluptatibus eum quae error earum nam dolorem voluptates praesentium minima ipsa, at aliquam quidem in, porro facilis sequi maxime omnis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam eaque dicta molestiae totam facere debitis cumque praesentium, repellendus id? Hic harum quibusdam doloribus  dolore accusantium aliquam tenetur labore? Quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora culpa vel, ducimus facere possimus expedita, deserunt architecto, est ea doloribus consectetur distinctio sit ullam assumenda porro placeat facilis. Ipsum, eligendi. Lorem  Asperiores, aperiam! </p>
        </div>
       
        
    <!-- button -->
            <div class="button">
                <a href="contact" class="bcontact bg-dark text-light">contact</a>
                
                <a href="file/cv.pdf" class="bdownload ">download CV <i class="fa-solid fa-download"></i></a>
            </div>
     <!-- ICON -->
            
            <p class="icon">
                    <a href="https://www.instagram.com/adiidwn/" class="iconlogo"><i class="fa-brands fa-instagram"></i></a>
                    <a href="/" class="iconlogo"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://discord.com/login" class="iconlogo"><i class="fa-brands fa-discord"></i></a>
                    <a href="https://github.com/Adiidwn" class="iconlogo"><i class="fa-brands fa-github"></i></a>
                
            </p>
        </div>
    </div>
<!-- Next Page -->
<div class="myProject ">
    <div style="background-color: #393e46; height: 50px;">.</div>
<h1 class="h1myproject text-light">MY PROJECTS
</h1>


    

<div id="contents" class="grid-item  ">
    {{ range $id, $project := .Project }}
<!-- START -->
    <div class="grid-container reveal ">
<!-- ISI PROJECT -->
        <div class="projectItemcontoh" >
         <img class="projectImage" src="/assets/images/{{$project.Image}}" />
<!-- IMAGES -->
        <a href="projectDetail/{{$id}}" class="linkProject"><div class="imageProject" >{{$project.ProjectName}}</div></a>
<!-- TITLE -->
            <div class="dateProject">Duration: {{$project.Durations}}</div>
<!-- DURASI -->
            <div class="contentProject">
                {{$project.Description}}
            </div>
<!-- ISI CONTENT -->
            <div class="iconProject">
                {{if $project.NodeJs}}
                <i class="fa-brands fa-node-js"></i>
                {{end}}
                {{if $project.ReactJs}}
                <i class="fa-brands fa-react"></i>
                {{end}}
                {{if $project.Golang}}
                <i class="fa-brands fa-jsfiddle"></i>
                {{end}}
                {{if $project.Javascipt}}
                <i class="fa-solid fa-scroll"></i>
                {{end}}
            </div>
<!-- ICON -->
            <div class="btnMother ">
                <div class="btnFather w-25">
                    <form  action="/updateProject/{{$id}}" method="get" >
                    <button class="btn-edit w-100" >Edit</button>
                    </form>
                    <form  action="/deletemyProject/{{$id}}" method="post">
                    <button class="btn-delete w-100">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!--END -->
{{end}}
</div>
<div class="mb-2">TEST</div>
<br class="mb-2">
<br class="mb-2"><br class="mb-2"><br class="mb-2"><br><br><br><br><br><br><br class="mb-2">

<script src="/assets/javascript/reveal.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>